@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f1f2ed;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 6%;
    width: 100%;
}

.logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: #90523d;
    background-color: transparent;
    transition: 0.5s ease;
    
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    font-weight: 600;
    display: inline-flex;
    color: black;
    margin-left: 4rem;
    transition: 0.2s ease;
}

nav a.active,
nav a:hover{
    color: #90523d;
    border-bottom: 3px solid #90523d;
}

.contact-heading{
    margin-top: 80px;
}

.contact-heading h1{
    text-align: center;
    font-size: 4rem;
}

.contact-heading h1 span{
    color: #90523d;
}

.contact-heading p{
    text-align: center;
    font-size : 1.8rem;
    color: #707070;
}

.contact-container{
    display: flex;
    flex-direction: column;
    background-color: hsl(72, 16%, 90%);
    margin: 20px 9%;
    padding: 40px 40px;
    border: none;
    border-radius: 20px;
    color: black;
}

.labels{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 8px;
}

#name{
    border: none;
    border-radius: 10px;
    height: 50px;
    padding: 15px 20px;
    margin-bottom: 15px;
    background-color: white;
    font-size: 1.5rem;  
}

#email{
    border: none;
    border-radius: 10px;
    height: 50px;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: white;
    font-size: 1.5rem;   
}

#message{
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: white;
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
}

.sendBtn{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #90523d;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

footer{
    font-size: 1.1rem;
    color: #90523d;
    padding: 0 6%;

}