@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 6%;
    width: 100%;
}

.logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: #90523d;
    background-color: transparent;
    transition: 0.5s ease;
    
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    font-weight: 600;
    display: inline-flex;
    color: black;
    margin-left: 4rem;
    transition: 0.2s ease;
}

nav a.active,
nav a:hover{
    color: #90523d;
    border-bottom: 3px solid #90523d;
}


body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f1f2ed;
}

.skills-header{
    text-align: center;
    font-size: 5rem;
    color: #90523d;
    margin-top: 80px;
}
.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.image{
    width: 50px;
    height: 40px;
    border-radius: 5px;
    margin-right: 30px;
}

.cards{
    border: 3px solid white;
    box-shadow: 0 0 15px #90523d00;
    border-radius: 10px;
    width: 25%;
    height: 20vh;
    padding: 20px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s ease;
    margin: 10px 10px;
}

.cards:hover{
    border: 3px solid #90523d;
    box-shadow: 0 0 15px #90523d;
    transform: scale(1.1);
}

.card-heading{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}
.first-line-heading{
    display: flex;
}

p{
    margin: 0 0 0 60px;
    font-size: 1.2rem;
    color: rgb(152, 152, 152);

}
.cards .card-heading .skill{
    font-size: 2rem;
    font-weight: 500;
    margin-right: 20px;
    
}

.cards .card-heading .percent{
    color: #90523d;
    font-size: 1.6rem;
}

.progress-bar{
    background-color: rgb(212, 212, 212);
    width: 100%;
    height: 8px;
    border-radius: 5px;
}

#python .progress-fill{
    background-color: #90523d;
    height: 100%;
    width: 90%;
    border-radius: 5px;
    transition: 0.5s ease;
}


#html .progress-fill{
    background-color: #90523d;
    height: 100%;
    width: 95%;
    border-radius: 5px;
    transition: 0.5s ease;
}

#css .progress-fill{
    background-color: #90523d;
    height: 100%;
    width: 92%;
    border-radius: 5px;
    transition: 0.5s ease;
}

#javascript .progress-fill{
    background-color: #90523d;
    height: 100%;
    width: 85%;
    border-radius: 5px;
    transition: 0.5s ease;
}

#react .progress-fill{
    background-color: #90523d;
    height: 100%;
    width: 85%;
    border-radius: 5px;
    transition: 0.5s ease;
}

#nodejs .progress-fill{
    background-color: #90523d;
    height: 100%;
    width: 75%;
    border-radius: 5px;
    transition: 0.5s ease;
}

#c .progress-fill{
    background-color: #90523d;
    height: 100%;
    width: 80%;
    border-radius: 5px;
    transition: 0.5s ease;
}

#java .progress-fill{
    background-color: #90523d;
    height: 100%;
    width: 85%;
    border-radius: 5px;
    transition: 0.5s ease;
}

#adobe .progress-fill{
    background-color: #90523d;
    height: 100%;
    width: 90%;
    border-radius: 5px;
    transition: 0.5s ease;
}






